{% from 'macro.twig' import widget_header, thumbnail %}
{% from 'modules/agent/macro.twig' import agent_item_short %}
{% extends 'widget.twig' %}

{% block header %}
  {{ widget_header(title, subtext, widget.modifier) }}
{% endblock %}

{% block content %}
  <div class="partners partners--sidebar">
    <div class="partners__slider js-slick-slider">
      {% for partner in partners %}
        {# @var partner \cf47\plugin\realtyspace\module\partner\Entity #}
        <div class="partners__item">
          <a class="partners__item" {% if partner.url %}href="{{ partner.url }}"{% endif %}>
            {{ thumbnail(partner.image.src, 175, 50) }}
            <span class="partners__name">{{ partner.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="partners__controls">
      <button class="partners__arrow partners__arrow--prev js-partners-prev"></button>
      <button class="partners__arrow partners__arrow--next js-partners-next"></button>
    </div>
  </div>
{% endblock %}

