{% extends 'base.twig' %}
{# @var page \cf47\theme\realtyspace\module\page\action\SingleViewModel #}
{% block content %}
  <div class="site site--main">
    {{ macro.page_header(page) }}
    <div class="site__main">
      <div class="article article--details article--page">
        <article class="article__item">
          <div class="article__body">
            {{ content() }}
          </div>
        </article>
      </div>
    </div>
    <!-- END LISTING-->
  </div>
{% endblock %}
