{% from 'macro.twig' import widget_header %}

{% extends 'widget.twig' %}

{% block header %}
  {{ widget_header(title, subtext, widget.modifier) }}
{% endblock %}

{% block content %}
  <div class="form form--{{ widget.modifier }}">
    {{ "[contact-form-7 id='#{cf7_id}']"|shortcodes|raw }}
  </div>
{% endblock %}
