{% extends 'base.twig' %}

{% block container %}
  <div class="center">
    <div class="container">
      <div class="row">
        <section class="site">
          <div class="site__main">
            <div class="widget js-widget widget--main widget--no-border">
              <div class="widget__content">
                <div class="auth auth--inline">
                  <div class="auth__wrap auth__wrap--login">
                    {% include 'partials/login.twig' with {'type': 'inline'} %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}