<div class="listing__empty">
  <svg class="listing__empty-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
  </svg>
  <h4 class="listing__empty-title">{{ title }}</h4>
  {% if headline %}
    <span class="listing__empty-headline">{{ headline }}</span>
  {% endif %}
</div>