#accordion-panel-current_page_options > .accordion-section-title {
  background-color: #81F7EC !important;
}

#accordion-panel-home_layout > .accordion-section-title {
  background-color: #81F7EC !important;
}

#customize-controls .description {
  font-weight: normal !important;
}

#customize-controls .description a {
  text-decoration: underline !important;
}

.customize-control-custom-warning {
  background-color: #DC6647;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.select2-drop {
  z-index: 1000000;
}

.select2-results .fa,
.select2-choice .fa {
  float: right;
  position: relative;
  line-height: 25px;
}

.select2-results svg,
.select2-choice svg {
  float: right;
  position: relative;
  line-height: 25px;
  width: 20px;
  height: 20px;
  fill: black;
}