{# @var button \cf47\plugin\realtyspace\module\other\vcelements\button\ButtonView #}
<div class="{{ button.container_classes }}">
  <a href="http://realtyspace.dev/submit-a-property/" class="gosubmit__btn">Submit now</a>
</div>