{% extends 'base-archive.twig' %}
{% import 'modules/faq/macro.twig' as faq_macro %}
 {# @var page \cf47\theme\realtyspace\module\faq\viewmodel\SingleViewModel #}
{% block content %}

  <div class="site site--main">
    {{ macro.page_header(page) }}
    <div class="site__main">
      {% embed 'section-widget.twig' %}
        {% from 'macro.twig' import widget_header %}
        {% set widget_class='main' %}

        {% block content %}
          <!-- BEGIN FAQ-->
          <div role="tablist" aria-multiselectable="true" class="faq">
            {{ faq_macro.item(page.item, true) }}
          </div>
          <!-- END FAQ-->
        {% endblock %}
      {% endembed %}

    </div>
  </div>
{% endblock %}